@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
    --primary : #A7D6E0 ;
    --secondary : #B3ACFF;
    --tertiary : #E6E6E6;
}

*{
    font-family: "Monserrat", sans-serif ;
}

body {
    background: var(--primary);
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
}

a {
    text-decoration: none;
    padding: 2rem;
    width: 400px;
    color: black;
}

header img {
    width: 13rem;
    height: 16rem;
    border: var(--tertiary) 10px solid;
    padding: 0%;
    margin: 5%;
    cursor: pointer;
    align-content: center;
}

header h1 {
    text-align: center;
    flex-wrap: wrap;
    color: yellow;
    width: 70%;
    margin: auto;
    font-size: 80px;
}

header h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

header {
    display: flex;
    justify-content: space-evenly;
}

header p {
    color: blue;
    text-align: center;
}

main {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    color: black;
    background: var(--tertiary);
    margin: 30px;
    padding: 1.5%;
}

main section h3 {
    font-size: 25px;
    color: white;
    padding: 3px;
    background-color: var(--primary);
    margin: 0;
}

main section .black {
    color: black;
}

main section p{
    height: 50px;
    font-size: 23px;
    text-align: left;
}

.menu{
    color: yellow;
}

.menu a {
    border-bottom: 2px solid blue;
    color: blue;
    font-size: 22px;
    width: 23rem;
    padding: 25px;  
    transition: 300ms;
}

.menu a:hover{
    
    color: yellow;
    background: #9a91f862;
}

.menu .title {
    text-align: center;
}

.menu .is_inside{
    border-bottom: 2px solid yellow;
    color: yellow;
    background: #9a91f862;
}

footer .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1000px;
}

footer p{
    color: white;
    font-size: 20px ;
    font-weight: 600;
}

footer a{
    font-size: 20px ;
    width: max-content;
    color: blue;
    text-decoration: underline;
}

/**Pages Formulaires (Inscription & Contact**/
div.form {
    width: 80%;
    margin: 50px;
    padding: 1%;
    background: var(--tertiary);
}

form{
    width: 60%;
    margin: auto;
}

.form h3 {
    font-size: 25px;
    color: white;
    padding: 3px;
    background-color: var(--primary);
    text-align: center;
    margin: 0 0 50px 0;
}

form input{
    height: 45px;
    width: 70%;
    border: #b0b0b0 1px solid;
    font-size: 20px;
}

form label{
    text-align: end;
    font-size: 20px;
    margin: 7px 10%;
}

form input[type="radio"]{
    width: auto;
    cursor: pointer;
}

form textarea{
    font-size: 20px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width:  70%;
    min-width: 70%;
    max-width: 70%;
}

form input[type="submit"],
form input[type="reset"]
{
    width: 50%;
    background: var(--primary);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0 5%;
    border: none;
    cursor: pointer;
    transition: 300ms;
}


form input[type="submit"]:hover,
form input[type="reset"]:hover
{ 
    background: #8dcfde;
    transform: scale(1.03);
}

.form-control{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 12px 0;
    height: 40px;
}

.form-control.btn{
    display: flex;    
    justify-content: center;
    width: 100%;
    margin: 100px auto 20px auto;
}

.form-control.two_btn{
    display: flex;    
    width: 60%;
    margin: 50px auto 20px auto;
}

.form-control div{
    display: flex;
    align-items: center;
    width: 300px;
}

