@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
    --primary : #387065 ;
    --secondary : #f0f0f0;
    --tertiary :  white;
    --gold : #c6a609;
}

*{
    font-family: "Monserrat", sans-serif ;
}

body {
    margin: 0;
    min-width: 370px;
    caret-color: red;
}

a {
    text-decoration: none;
    padding: 2rem;
    width: 400px;
    color: black;
}

.header-content{
    max-width: 1450px;
    display: flex;
    justify-content: space-evenly;
    margin: auto ;
    align-items: center;
}

header{
    background: var(--primary);
}

header img {
    width: 13rem;
    height: 16rem;
    border: var(--gold) 10px solid;
    padding: 0%;
    margin: 5%;
    cursor: pointer;
    align-content: center;
    animation:slideInFromTop 0.5s ease-out;
}

@keyframes slideInFromTop{
	from { transform:translateY(-200%); opacity: 0; }
	to { transform:translateY(0); opacity: 1;}
}

header h1 {
    text-align: center;
    flex-wrap: wrap;
    color: var(--gold);
    width: 70%;
    margin: auto;
    font-size: 80px;
    animation: rainbow 2s linear alternate infinite  ;
}

@keyframes rainbow{
	0%{ color: var(--gold) }
    84%{ color: var(--gold) }
    86%{color: #398d7c }
    95%{ color: var(--gold) }
}

header h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}


header p {
    color: var(--primary) ;
    text-align: center;
}

.main-content{
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

main {
    background-color: var(--secondary);
    min-height: 880px;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    color: black;
    background: var(--tertiary);
    margin: 30px;
    padding: 1.5%;
    height: fit-content;
    box-shadow: 0px 0px 5px  #cdcdcd;
}

main section h3 {
    font-size: 25px;
    color: white;
    padding: 3px;
    background-color: var(--primary);
    margin: 0;
}

main section .black {
    color: var(--gold);
}

main section p{
    height: 100%;
    font-size: 23px;
    text-align: left;
}

.menu{
    color: var(--gold);
}

.menu .links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
}


.menu a {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    font-size: 22px;
    width: 23rem;
    padding: 25px;  
    transition: 300ms;
}

.menu a:hover{
    

    transform: translateX(10px);
}

.menu .title {
    text-align: center;
}

.menu .is_inside{
    border-bottom: 2px solid var(--gold);
    color: var(--gold);

}

footer{
    background: var(--primary);
    animation: fadeIn 1000ms linear;
}

@keyframes fadeIn{
	from { opacity: 0; }
}

footer .footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    max-width: 1450px;
}

footer p{
    color: white;
    font-size: 20px ;
    font-weight: 600;
}

footer a{
    font-size: 20px ;
    width: max-content;
    color: var(--gold);
    text-decoration: underline;
    transition: 500ms;
}

footer a:hover{
    transform: scale(1.1);
}

/**Pages Formulaires (Inscription & Contact)**/
div.form {
    width: 100%;
    margin: 50px;
    padding: 1%;
    background: var(--tertiary);
    box-shadow: 0px 0px 5px  #cdcdcd;
}

form{
    width: 90%;
    margin: auto;

}

.form h3 {
    font-size: 25px;
    color: white;
    padding: 3px;
    background-color: var(--primary);
    text-align: center;
    margin: 0 0 50px 0;
}

form input{
    height: 45px;
    width: 70%;
    border: #b0b0b0 1px solid;
    font-size: 20px;
}

form label{
    text-align: end;
    font-size: 20px;
    margin: 7px -10%;
    width: 100%;
}

.form-control.sexe div label{
    width: max-content;
    margin: 1%;
}

form input[type="radio"]{
    width: auto;
    cursor: pointer;
}

form textarea{
    font-size: 20px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width:  70%;
    min-width: 70%;
    max-width: 70%;
}

form input[type="submit"],
form input[type="reset"]
{
    width: 50%;
    background: var(--primary);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0 5%;
    border: none;
    cursor: pointer;
    transition: 300ms;
}


form input[type="submit"]:hover,
form input[type="reset"]:hover
{ 
    background: #398d7c;
    transform: scaleX(1.07);
}

.form-control{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 12px 0;
    height: 40px;
}

.form-control.btn{
    display: flex;    
    justify-content: center;
    width: 100%;
    margin: 100px auto 20px auto;
}

.form-control.two_btn{
    display: flex;    
    width: 60%;
    margin: 50px auto 20px auto;
}

.form-control div{
    display: flex;
    align-items: center;
    width: 300px;
}

/* RESPONSIVE */

@media (max-width : 1024px) {

    /* header */

    header{
        padding: 15px 0;
    }
    
    header img {
        width: 5rem;
        height: 5rem;
        border:  0px solid;
        border-radius: 50%;
        margin:  0;
    }

    header h1 {
        width: 100%;
        font-size: 18px;
    }
    
    header h2 {
        font-size: 13px;
        margin: 10px 0;
    }

    /* Menu */
    .main-content{
        flex-direction: column;
    }

    .menu{
        background: var(--tertiary);
    }

    .menu .links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
   
    }
    
    .menu a {
        border-bottom: 0px solid transparent;
        border-left : .001px solid ;
        border-right : .001rem solid ;
        font-size: 14px;
        padding: 1%;  
        transition: 300ms;
        text-align: center;
        display: flex;
        align-items: center ;
        justify-content: center;
        color: black;
        font-weight: 600;
        width: 20%;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    
    .menu .title {
        display: none;
    }
    
    .menu .is_inside{
        color: var(--primary);
        border-bottom: 0px;
        box-shadow: inset 0px 0px 5px #b0b0b0;
        background: none;
    }

    .menu a:hover{
        color: var(--primary);
        border-bottom: 0px;
        background: none;
        transform: translateX(0px);
    }

    /*Contenu (Accueil, monCV, mes projet)*/

    main section {
        margin: 7%;
        padding: 2%;

    }    
    main section h3 {
        font-size: 20px;
    }
    
    main section p{
        font-size: 18px;
        margin: 30px 1.5%;
        text-align: justify ;
    }
    
    /*Formulaire*/

    div.form {
        width: auto;
        margin: 20px 3%;
        padding: 2%;
    }
    
    form{
        width: 100%;
        padding: 0 3%;
    }
    
    .form h3 {
        font-size: 22px;
    }
    
    form input{
        height: 35px;
        width: 90%;
        border: #b0b0b0 1px solid;
        font-size: 16px;
    }
    
    form label{
        margin: 7px -10%;
        width: 100%;
        font-size: 16px;
    }
    
    .form-control.sexe {
        height: max-content;
    }

    .form-control.sexe > label{
        transform: translateY(15px);
        height: fit-content;
    }
    
    .form-control.sexe > div{
        width: 200px;
    }

    form input[type="radio"]{
        width: auto;
        cursor: pointer;
    }
    
    form textarea{
        font-size: 16px;
        width:  90%;
        min-width: 90%;
        max-width: 90%;
    }
    
    form input[type="submit"],
    form input[type="reset"]
    {
        font-size: 16px;
    } 
    
    .form-control{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        margin: 8px 0;
        height: 40px;
    }
    
    .form-control.two_btn{
        display: flex;    
        width: 80%;
    }
    
    .form-control div{
        margin: 12px 0;
        height: 43px;
    }

    /* Footer */
    footer p{
        font-size: 14px ;
    }
    
    footer a{
        font-size: 16px ;
        padding: 35px 0;
    }
    
}
